<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteSearch">

  <test name="SearchBlouses">
    <classes>
      <class name="com.reportsExample.qs.SearchBlouses"/> 
    </classes>
  </test> <!-- Test -->
  
  <test name="SearchSummerDresses">
    <classes>
      <class name="com.reportsExample.qs.SearchSummerDresses"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="SearchChiffonDresses">
    <classes>
    <class name="com.reportsExample.qs.SearchChiffonDresses"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SuiteSearch -->


     